/*1024*/
/*992*/
/*768*/
/*414*/
/*372*/
/*360*/
/*320*/
@media only screen and (max-width: 1024px) {
    header {
        background-color: red;
    }

}
@media only screen and (max-width: 992px) {
    header {
        background-color: yellow;
    }

}
@media only screen and (max-width: 768px) {
    header {
        background-color: green;
    }

}
@media only screen and (max-width: 414px) {

}
@media only screen and (max-width: 372px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}


