/*1024*/
/*992*/
/*768*/
/*414*/
/*372*/
/*360*/
/*320*/
@media only screen and (max-width: 1126px) {
    header .headertop img{
        width: 100%;
    }

    .btnstore, .btnlogin, .btnsign {
        width: 140px;
        margin-left: 10px;
    }
    header form {
        width: 140px;
    }
    .btnstore a, .btnlogin a, .btnsign a{
        color: transparent;
    }
    .btnstore a i, .btnlogin a i, .btnsign a i{
        color: white;
    }
}

@media only screen and (max-width: 1024px) {


}
@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 990px) {
    footer {
        flex-direction: column;
    }
    footer .imgblockfoot{
        max-width: 320px;
        margin: auto;
    }
    footer  ul{
        display: flex;
        justify-content: space-evenly;
    }
    footer  .footericons{
        margin-bottom: 30px;
    }
    footer  .imgblockfoot img{
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 768px) {
    section .subscribe_form{
        flex-direction: column;
    }
    section form input{
        width: 300px;
        margin-bottom: 20px;
    }
    header .headertop{
        flex-direction: column;
    }
    .btnstore, .btnlogin, .btnsign {
        width: 80%;
        margin-top: 10px;
    }
    header form {
        width: 320px;
    }
    .headertop form button{
        width: 15%;
    }
    .btnstore a, .btnlogin a, .btnsign a{
        color: white;
    }
    footer ul{
        flex-direction: column;
        margin-left: 40px;
    }

}
@media only screen and (max-width: 414px) {
    section form input, section .subscribe_form a{
        width: 250px;
    }
    header form {
        width: 280px;
    }
    .headertop form button{
        width: 13%;
    }
    section p{
        padding: 0 10px 0 10px;
    }

}
@media only screen and (max-width: 372px) {
    section form input, section .subscribe_form a{
        width: 220px;
    }
    header form {
        width: 250px;
    }

}
@media only screen and (max-width: 360px) {
    header form {
        width: 220px;
    }
    .headericons {
        flex-direction: column;
    }

}
@media only screen and (max-width: 320px) {
    header form {
        width: 200px;
    }

}


